.title {
  color: rgb(111, 236, 240);
  mix-blend-mode: difference;
  text-shadow: 6px 6px rgb(16, 99, 112);
}

.desc {
  background-color: #0003;
  box-shadow: 0 0 12px #0008;
  border-radius: 20px;
  text-shadow: 2px 2px 5px #000;
  padding: 4rem;
}
