.launch_card {
  margin-bottom: 2rem;
  list-style-type: none;
  display: flex;
  border: 5px solid var(--color-green);
  border-radius: 20px;
  padding: 20px;

  img {
    width: 14rem;
    height: 14rem;
    object-fit: cover;
    margin-right: 3rem;
  }

  p {
    margin-top: 2rem;
  }
}
