@mixin space-lg {
  margin-top: 12rem;
  margin-bottom: 12rem;

  & > :first-of-type {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
}

@mixin space-sm {
  margin-top: 4rem;
  margin-bottom: 4rem;

  & > :first-of-type {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}
