@mixin space-lg {
  margin-top: 12rem;
  margin-bottom: 12rem;
  border: 10px solid blue;

  :first-of-type {
    margin-top: 6rem;
    margin-bottom: 6rem;
  }
}

@mixin space-sm {
  margin-top: 4rem;
  margin-bottom: 4rem;

  :first-of-type {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}
